body {
      text-align: center;
      background: #6D3F56;
      font-family: 'Roboto', sans-serif;
    }
    ul {
      padding: 10px;
    }
    li {
      font-size: 18px;
      display: inline;
      padding: 0 10px;
      border: 1px solid black;
      margin: 1px;
    }
    h2 {
      text-align: center;
      font-weight: bold;
    }
    h3 {
    color: #8D7FAB;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    }
    p {
      font-size: 18px;
    }
    input {
      border: 0;
      padding: 10px;
      margin: 5px;
      font-size: 18px;
      width: 200px;
    }
    header {
      background: #34293E;
    }
    img {
      margin: 10px 0;
      border: 3px solid #8D7FAB;
      border-radius: 25%;
      height: 200px;
    }
    a:link {
      padding: 10px;
      color: #FFFFFF;
      text-decoration: none;
    }
    a:visited {
      color: #663399;
      text-decoration: none;
    }
    a:hover {
      color: #663399;
      text-decoration: underline;
    }
    article {
      background-color: #C1C0CE;
      max-width: 500px;
      margin: 0 auto;
      padding: 30px;
      text-align: left;
      line-height: 1.5;
    }
    .form{
      text-align: center;
      background-color: #C1C0CE;
      margin: 0 auto;
    }
    input[placeholder="Your name"] input[placeholder="Your email"] {
      text-align: center;
    }
    input[type="submit"] {
      background: #6D3F56;
      color: white;
    }
    @media(max-width: 500px) {
    li {
        padding: 5px;
        display: block;
      }
    article {
      line-height: 1.2;
      font-size: 16;
      text-align: justify;
    }
}