* {
  box-sizing: border-box;
}

body {
  background: #1e1f2a;
  font-family: monospace;
  color: white;
}

main {
  margin: 2rem;
  line-height: 1.5rem;
}

em {
  color: #ff4dbe;
}

/* unvisited link */
a:link {
  color: #3ee3ff;
}

/* visited link */
a:visited {
  color: #b175ff;
}

